<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Static content" stopProcessing="true">
            <match url="^(.*)$" />
            <action type="Rewrite" url="_static/{R:1}" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_URI}" pattern="^/static/(.*)$" />
            </conditions>
          </rule>
          <rule name="Configure Python 3.x">
            <match url=".*" />
            <conditions>
              <add input="{HTTP_URL}" pattern="^/_static/.*" negate="True" />
            </conditions>
            <action type="Rewrite" url="app.py" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>